<!DOCTYPE html>
<html lang="en" ng-app="miapp">

<head>
    <meta charset="UTF-8">
    <title>Componentes AngularJS</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <add-username></add-username>
    <div class="container">
        <div>
            <list-user></list-user>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="components/addUserName/compAddUserName.js"></script>
    <script src="components/listUser/compListUser.js"></script>
    <script src="components/containerMessage/compContainerMessage.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</body>

</html>