<div ng-hide="mostrarCaja2" class="col-md-6 bg-info message-box" ng-app="miapp" ng-controller="messages">
    <h2>Conversaciones</h2>
    <div class="message-container">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="message in messages[$root.selectedUser + $root.userId]">
                <div ng-if="own" id="prop">
                    {{ message.name }}: {{ message.msg }}
                </div>
                <div ng-if="!own" id="noprop">
                    {{ message.name }}: {{ message.msg }}
                </div>
            </li>
        </ul>
        <div class="alert alert-warning" ng-show='messages.length == 0'>
            No hay mensajes.
        </div>
    </div>
    <div class="message-sender">
        <textarea class="form-control" ng-model='message' ng-keypress="sendMsg($event)"></textarea>
    </div>
</div>